In [3]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [9]:
x =np.ones((2,2))

In [11]:
print(x)
print(type(x))

[[1. 1.]
 [1. 1.]]
<class 'numpy.ndarray'>

## Q#2: Create y array with elements equal to 0.

In [13]:
y = np.zeros((2,2))

In [14]:
print(y)
print(type(y))

[[0. 0.]
 [0. 0.]]
<class 'numpy.ndarray'>

## Q#3: Add x and y arrays.

In [15]:
result =np.add(x,y)

In [16]:
print(result)

[[1. 1.]
 [1. 1.]]

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [32]:
dim=np.ndim(x)
print(f"dimension: {dim}")
shape=np.shape(x)
print(f"shape: {shape}")
size=np.size(x)
print(f"size: {size}")
x.dtype

dimension: 2
shape: (2, 2)
size: 4

dtype('float64')

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [34]:
w =np.array([[11,12],[13,14],[15,16]])
print(w)

[[11 12]
 [13 14]
 [15 16]]

## Q#6: Create z array contains the numbers from 1 to 3.

In [41]:
z = np.arange(1,4)
print(z)

[1 2 3]

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [63]:
z = z.reshape(1, -1)
newArray =  np.hstack((w, z.T))

print(newArray)

[[11 12  1]
 [13 14  2]
 [15 16  3]]

## Q#8: Print all elements of "newArray" using the loop.

In [64]:
for row in newArray:
    for num in row:
        print(num)

11
12
1
13
14
2
15
16
3

## Q#9: Reverse the columns and rows of "newArray".

In [67]:
newArray = newArray.transpose()
newArray

array([[11, 13, 15],
       [12, 14, 16],
       [ 1,  2,  3]])

## Q#10: Decrement all elements of "newArray" with 1.

In [68]:
newArray -= 1
newArray

array([[10, 12, 14],
       [11, 13, 15],
       [ 0,  1,  2]])

## Q#11: Find smallest and biggest values in "newArray".

In [70]:
max = newArray.max()
print(f"the max values: {max}")
min = newArray.min()
print(f"the min values: {min}")

the max values: 15
the min values: 0

## Q#12: Print the first row of "newArray" using indexing.

In [75]:
newArray[0]

array([10, 12, 14])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [76]:
newArray[0,1]

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [78]:
newArray[2,0]

0

In [80]:
newArray[1,1]

13

## Q#15: Change the shape of "newArray" to (9,1).

In [97]:
newArray.reshape(9,1)

array([[10],
       [12],
       [14],
       [11],
       [13],
       [15],
       [ 0],
       [ 1],
       [ 2]])

## Q#16: Change the shape of "newArray" to (3,2).

In [89]:
newArray

array([[10, 12, 14],
       [11, 13, 15],
       [ 0,  1,  2]])

In [100]:
#the number of element 9 only access (9,1) and (3,3) 
#can't use the (3,2) becose equal 6 element
newArray.reshape(3,3)

array([[10, 12, 14],
       [11, 13, 15],
       [ 0,  1,  2]])

# Well Done ðŸŽ‰