# Q1: Import numpy library

In [42]:
# write your code here ^_^
import numpy as np

# Q2: Generate a sequence of 15 floats using linspace() function

In [43]:
# write your code here ^_^
seq = np.linspace(1, 10, 15)

print(seq)

[ 1.          1.64285714  2.28571429  2.92857143  3.57142857  4.21428571
  4.85714286  5.5         6.14285714  6.78571429  7.42857143  8.07142857
  8.71428571  9.35714286 10.        ]

# Q3: Create a 3-D array in shape (2, 2, 3) containing the four arrays given below 
Note : the array's name is up to you.

|      |       |          |         |
|------| ----- | -------- | ------- |
|arr1 | 1.1    | 2.1       | 3.1        |
|arr2 | 4.1    | 5.1       | 6.1        |
|arr3 | 7.1    | 8.1       | 9.1        |
|arr4 | 10.1   | 11.1      | 12.1       |

In [44]:
# write your code here ^_^
np_array = np.array([[[1.1, 2.1, 3.1], [4.1, 5.1, 6.1]],[[7.1, 8.1, 9.1], [10.1, 11.1, 12.1]]])
print(np_array)

[[[ 1.1  2.1  3.1]
  [ 4.1  5.1  6.1]]

 [[ 7.1  8.1  9.1]
  [10.1 11.1 12.1]]]

# Q4: Print the following:
Note: use the same array from Q3.
- Array's type.
- Array's elements datatype.
- Array's shape.
- Array's size.
- Array's dimention.

In [45]:
# write your code here ^_^
print(type(np_array))
print(np_array.dtype)
print(np_array.shape)
print(np_array.size)
print(np_array.ndim)

<class 'numpy.ndarray'>
float64
(2, 2, 3)
12
3

# Q5:  Change the array dimention from 3-D to 4-D
Note: use the same array from Q3.
- Create a new array to hold the changes. 
- Print the new array's dimention and shape.

In [46]:
# write your code here ^_^
new_array = np.resize(np_array, (4, 4))
print(new_array)

[[ 1.1  2.1  3.1  4.1]
 [ 5.1  6.1  7.1  8.1]
 [ 9.1 10.1 11.1 12.1]
 [ 1.1  2.1  3.1  4.1]]

# Q6: Change the array's elements datatype to integer  
Note: use the same array from Q5.

- Create a new array to hold the changes. 
- Print the new array.

In [50]:
# write your code here ^_^

int_array = new_array.astype(int)
print(int_array)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [ 1  2  3  4]]

# Q7: Print all array's elements using for loop
Note: use the same array from Q6.

Hint: use nditer()

In [51]:
# write your code here ^_^

for i in np.nditer(int_array):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
1
2
3
4

# Q8:  Print number 8 using array slicing
Note: use the same array from Q6.

In [53]:
# write your code here ^_^
print(int_array[1][-1])

8

# Q9: Print number 5 and number 6 using array slicing
Note: use the same array from Q6.

In [54]:
# write your code here ^_^
print(int_array[1][0:2])

[5 6]

# Q10: Search for number 8 using where()
Note: use the same array from Q6.

Note: where() is only used with small data.

*the output represents the path of the index that leads to number 8*

In [58]:
# write your code here ^_^

s = np.where(int_array == 8)

print(s)

(array([1], dtype=int64), array([3], dtype=int64))

# Q11: Reshape the array as the following

    array([[[ 1, 2],
            [ 3,  4],
            [ 5,  6]],

           [[ 7,  8],
            [ 9, 10],
            [11, 12]]])
            
 Note: use the same array from Q6.

In [65]:
print(int_array)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [ 1  2  3  4]]

In [79]:
# write your code here ^_^
# There is an error: cannot reshape array of size 16 into shape (2,3,2)
reshape_array = int_array.reshape(2, 3, 2)
print(reshape_array)

ValueError: cannot reshape array of size 16 into shape (2,3,2)

# Q12: Join the given arrays below 
    arr1 = np.array([['A', 'B'], ['E', 'F']])
    arr2 = np.array([['C', 'D'], ['G', 'H']])
## Q12.1: Join the arrays without specifying the axis

In [92]:
# write your code here ^_^
arr1 = np.array([['A', 'B'], ['E', 'F']])
arr2 = np.array([['C', 'D'], ['G', 'H']])

arr3 = np.concatenate((arr1, arr2))
print(arr3)

[['A' 'B']
 ['E' 'F']
 ['C' 'D']
 ['G' 'H']]

# Q12.2: Join the arrays along rows with axis = 1

In [94]:
# write your code here ^_^

arr4 = np.concatenate((arr1, arr2), axis=1)
print(arr4)

[['A' 'B' 'C' 'D']
 ['E' 'F' 'G' 'H']]

# Q13: Split the array into two arrays with axis = 1, each array should contain four arrays. 
Note: use the same array from Q12.1

In [104]:
# write your code here ^_^
arr5 = np.hsplit(arr3, 2)
print(arr5)

[array([['A'],
       ['E'],
       ['C'],
       ['G']], dtype='<U1'), array([['B'],
       ['F'],
       ['D'],
       ['H']], dtype='<U1')]